
/* 导航栏 */
.nav,.nav ul {
	display: flex;
	/* justify-content: center;  */
	align-items: center;
}
/* .mix{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px;
  float: left;
  width: 100%;
  position: sticky; 
  top:0px;
  right: 25px;
  z-index:9999;
  background-image: url(LOGO1.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center; 
  border-bottom:10px wheat;
} */
.logo1{
  float: left;
  position: fixed;
  top: 0px;
  height: 120px;
  width: 100%;
}
.nav {
	float: right;
	position:fixed; 
  	top:10px;
  	right: 25px;
	z-index:9999;
	padding: 20px;
	border-radius:50px;
	background-color: rgb(255, 255, 255);
  	transform-origin: right center;
}
.nav input {
	width: 30px;
	height:30px;
	cursor: pointer;
  /* 鼠标光标变小手 */
	opacity: 0;
}
.nav:hover {
	background-color: wheat;
}
.nav span {
	position: absolute;
	left: 30px;
	top: calc(50% - 10px);
	width: 30px;
	height: 4px;
	border-radius: 15px;
	background-color: rgb(19, 18, 18);
	/* pointer-events: none;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s; */
}

.nav span:nth-child(3) {
	top: calc(50% + 6px);
}

.nav ul {
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: all 0.5s;
}
.nav ul li {
	list-style: none;
	margin: 0 15px;
}
.nav ul li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: rgb(20, 20, 20);
}
.nav ul li a:hover {
	color: #f00303;
}

.nav input:checked ~ ul {
	width: 350px;
}
.nav input:checked ~ span:nth-child(2) {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	background-color: #080808;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.nav input:checked ~ span:nth-child(3) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	background-color: #463f41;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
  